<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
       <add name="DbConnection" connectionString="Database=Bsis_AgilSoft_JuanDiaz;Server=LAPTOP-UOFRH2TL;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DbConnection" connectionString="Database=Bsis_pre_cnt;Server=VSK12-MICRO-SQL;user id='usr_cont';password='usr_cont'" providerName="System.Data.SqlClient" />-->
    <!--add name="DbConnection" connectionString="data source=MFLORES; Initial Catalog=Bsis_pre_cnt;Integrated Security=SSPI;" providerName="System.Data.SqlClient" /-->
      <!--<add name="DbConnection" connectionString="Database=Bsis_pre_cnt;Server=VSK12-MICRO-SQL;user id='usr_cont';password='usr_cont'" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="DbConnection" connectionString="data source=MFLORES; Initial Catalog=Bsis_vta_ccl;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DbConnection" connectionString="Database=Bsis_vta_ccl;Server=VSK12-MICRO-DSA;user id='usr_vta_ccl_001';password='usr_vta_ccl_001'" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="PlantillaContratoPath" value="E:\Codigos_Fuentes\SIS_VTA_CCL\FILES\PLANTILLAS\Contrato_Credito_13VW.pdf"/>
    <add key="DocumentosPath" value="E:\Codigos_Fuentes\SIS_VTA_CCL\FILES\DOCUMENTOS"/>
    <add key="LogFilePath" value="E:\Codigos_Fuentes\SIS_VTA_CCL\FILES\LOGS"/>
    
    <add key="WebServer" value="http://localhost:25419"/>
    <add key="defaultUser" value="EZUNIG60"/>

    <add key="RUT" value="@vta_rut"/>
    <add key="DV" value="@vta_drt"/>
    <add key="NOMBRES" value="@vta_cli_nom"/>
    <add key="APELLIDO PATERNO" value="@vta_cli_ape_pat"/>
    <add key="APELLIDO MATERNO" value="@vta_cli_ape_mat"/>
    <add key="FONO CONTACTO" value="@vta_tel"/>
    <add key="TIPO FONO" value="@vta_tel_tip"/>
    <add key="E-MAIL" value="@vta_eml"/>
    <add key="CALLE" value="@vta_dir"/>
    <add key="N°(CASA)" value="@vta_num"/>
    <add key="BLOCK" value="@vta_blc"/>
    <add key="DEPARTAMENTO" value="@vta_dpo"/>
    <add key="VILLA O POBLACION" value="@vta_pob"/>
    <add key="COMUNA" value="@vta_com"/>
    <add key="CIUDAD" value="@vta_ciu"/>
    <add key="TIPO DE CREDITO(CPD)" value="@vta_cpd"/>
    <add key="MONTO TOTAL DEL CREDITO ($)" value="@vta_mnt_oto"/>
    <add key="MONTO LIQUIDO CREDITO ($)" value="@vta_mnt_liq"/>
    <add key="PLAZO CREDITO (MESES)" value="@vta_pzo"/>
    <add key="TASA CREDITO (%)" value="@vta_tas"/>
    <add key="FECHA PRIMER VENCIMIENTO" value="@vta_fec_pri_vnc"/>
    <add key="DIA DE PAGO CREDITO" value="@vta_dia_pgo"/>
    <add key="TIPO CUENTA CARGO CREDITO" value="@vta_tip_cta_cgo"/>
    <add key="NUMERO DE CUENTA CARGO" value="@vta_num_cta_cgo"/>
    <add key="CAE" value="@vta_cae"/>
    <add key="VALOR CUOTA" value="@vta_cuo_val"/>
    <add key="TIPO SEGURO" value="@vta_tip_seg"/>
    <add key="NUMERO MUC" value="@vta_num_muc"/>
    <add key="NUMERO DE CUOTAS" value="@vta_num_cuo"/>

    <!-- RUTAS -->
    <add key="RutaTemplate" value="\\\\vsk12-micro-dsa\\e$\\Sistemas\\G.Operaciones\\SIS_CTA_PRO_FILES\\PLANTILLAS\\Plantilla_Carta.pdf"/>
    <add key="RutaFormularioCliente" value="\\\\vsk12-micro-dsa\\e$\\Sistemas\\G.Operaciones\\SIS_CTA_PRO_FILES\\FORMULARIOS\\FORMULARIO_"/>
    <add key="RutaArchivoCliente" value="\\\\vsk12-micro-dsa\\e$\\Sistemas\\G.Operaciones\\SIS_CTA_PRO_FILES\\ARCHIVOSd"/>
    <add key="FechaVigIni" value="22/Enero/2020"/>
    <add key="FechaVigFin" value="22/Marzo/2020"/>
    
    
    <!--<add key="FECHA CURSE" value="@vta_fec_cse"/>-->
    <!--<add key="NUMERO OPERACIÓN" value="@vta_num_ope"/>-->
    <!--<add key="MONTO EN PALABRAS" value=""/>--><!-- *NO -->
    <!--<add key="FECHA ULTIMO VENCIMIENTO" value="@vta_fec_ult_vnc"/>-->
    <!--<add key="VALOR ULTIMA CUOTA" value="@vta_val_utl_cuo"/>-->
    <!--<add key="TASA INTERES ANUAL" value=""/>--><!-- *NO -->
  </appSettings>

  <system.web>

    <authentication mode="Windows"></authentication>
    <!--<identity impersonate="true" userName="banco\castudi5" password="monserrat30"/>-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>