<style type="text/css">



#easyscroll{
	background:#ffffff;
	margin:0em 0;

	}	
	#easyscrollnav, #easyscrollnav li{
		height:28px;
		
		margin:0;	
		padding:0;
		}	
	#easyscrollnav{
		margin:0em 0;	
		}			
	#easyscrollnav li{
		list-style:none;
		float:left;
		background:#ffffff;
		margin-right:10px;		
		padding:0 10px;
		color:#ffffff;
		cursor:pointer;
		}					
	#easyscrollnav li.over{
		color:#ffffff;
		text-decoration:underline;
		}							

	/* // easyscroll navigation buttons */	

/* // end easyscroll */
	
</style>